
# this is the "requirements.txt" file.
# it signals to humans and computers / servers that "there is a python app in this repo",
# ... and helps facilitate the installation of third-party packages our program requires.

# we write the names of each package, each on its own line.
# right now we're just using one ("python-dotenv"),
# ... but it's common for an app to have lots of dependencies (like "pandas", etc).

python-dotenv

# pandas

# other_package

# etc.

# Another more efficient way to do it, using dictionaries

# RPS winner determination as a dictioanry:
# winners = {
#     "rock": {
#         "rock": None,
#         "paper": "paper",
#         "scissors": "rock",
#     },
#     "paper": {
#         "rock": "paper",
#         "paper": None,
#         "scissors": "scissors",
#     },
#     "scissors": {
#         "rock": "rock",
#         "paper": "scissors",
#         "scissors": None,
#     }
# }
# winner = winners[user_choice][computer_choice]
# if winner == user_choice:
#     print("YOU WON!")
# elif winner == computer_choice:
#     print("YOU LOST")
# else:
#     print("TIE")